BODY {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  margin : 0;
  background : #6085AC;
  color : #000000;
}

FONT {
  font-family: "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
}

FONT.textlink {
  font-family: "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 8pt;
  font-style : bolder; 
}

LI {
  font-family: "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  list-style-type: circle;
}

LI LI {
  font-family: "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  list-style-type: disc;
}

TD {
  font-family: "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
}

.loginbox {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  text-align : center;
  border : 0;
  padding : 0;
  width : 400px;
}

.tablebox {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  text-align : left;
  border : 0;
  padding : 0;
  width : 97%;
}

.boxhead {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  font-weight : bold;
  text-align : left;
  padding-top : 3px;
  padding-bottom : 3px;
  padding-left : 3px;
  background : #1e4b79;
  color : #ffffff;
}

.boxmenu {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  text-align : left;
  padding-top : 3px;
  padding-bottom : 3px;
  padding-left : 3px;
  background : #ffffff;
  color : #000000;
}

.boxdata {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  text-align : left;
  padding-top : 20px;
  padding-left : 5px;
  padding-bottom : 20px;
  background : #ffffff;
  color : #000000;
}

.boxdata2 {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  text-align : left;
  padding-top : 20px;
  padding-left : 5px;
  padding-bottom : 5px;
  background : #ffffff;
  color : #000000;
}

.masthead {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  text-align : left;
  padding-left : 3px;
  height : 20px;
  background : #000000;
  color : #eeeeee;
}

.loadtime {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 10pt;
  text-align : center;
  color : #1e4b79;
}

a:link {
  color : #003399;
  background : transparent;
  text-decoration : none;
}

a:visited {
  color : #660066;
  background : transparent;
  text-decoration : none;
}

a:hover {
  color : #003399;
  background : transparent;
  text-decoration : underline;
}





