TABLE.outline {
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: solid; 
  border-collapse: collapse;
  text-align: center;
}

TD.monthcell {
  font-weight: bold;
  vertical-align: middle;
  border-width: 1px;
  background-color: #1e4b79;
  color: #ffffff;
}

TD.weekcell {
  width: 13.86%;
  border-width: 1px; 
  border-style: solid; 
  background-color: #3e6b99;
  color: #ffffff;
}

TD.datecell {
  height: 50px;
  border-width: 1px; 
  border-style: solid;
}

TD span.daynum {
  display: block;
  text-align: center;
}
